<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla purus, laoreet id molestie nec, mollis ut est. Mauris at arcu eget velit mattis ultricies. Aliquam malesuada sollicitudin velit condimentum laoreet. In id est dapibus, varius magna a, dapibus ipsum. </p>
    <a href="/post/add" class="btn btn-dark btn-lg">Add</a>
</div>